<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span>DZM consultoria </span>
            <h1>A consultoria que você procura para sua rede elétrica!</h1>

        </div>
        <img ngSrc="./assets/newmedia.jpg" width="600" 
        height="400">
    </section>

    <section class="benefit-section">
        <div class="befenit-data">
            <h2>
                80% das <br/> empresas
            </h2>
        </div>
         <p>Não sabem lidar com o <b>gerenciamento</b> dos seus projetos elétricos!</p>
    </section>

    <section class="cta-section">
        <app-btn-primary btn-text="Fale com um dos nossos especialistas"
        ></app-btn-primary>
    </section>
    <app-newsletter-form></app-newsletter-form>

    <section class="info-section">
        <div class="redeEletrica">

            <img ngSrc="./assets/redeEletrica.jpg" width="550" height="500">
            <h4>Equipe especializada!</h4>
            <p>Temos soluções para redes eletricas para comercios de pequenos, medios e grande porte</p>

        </div>

        <div class="energiarenovavel">
            <img ngSrc="./assets/fonteRenovavel.png" width="550" height="500">
            <h4>Projetos Renovaveis</h4>
            <p>Temos soluções renovaveis para projetos industriais, com toda a documentação pronta.</p>
        </div>

    </section>

    <section class="endSection">
        <div class="act-solicitation">
            <h1>
                QUER SOLICITAR UM ORÇAMENTO PARA O SEU PROJETO COM O MELHOR PREÇO DO MERCADO?
            </h1>
        </div>
        <app-btn-primary btn-text="Fale com um dos nossos especialistas"></app-btn-primary>
    </section>
    <section class="redesSection">

        <div class="logo">
            <img ngSrc="./assets/logo.png" width="50" height="50">
        </div>

        <div class="containerLogo">

            <div class="face">
                <img ngSrc="./assets/f.png" width="50" height="50">
            </div>
    
            <div class="insta">
                <img ngSrc="./assets/i.png" width="50" height="50">
                
            </div>
    
            <div class="x">
                <img ngSrc="./assets/x.png" width="50" height="50">
    
            </div>
            

        </div>
    </section>
</main>